<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1><%= @poll.title %> <small><%= if @poll.published then "published" else "" end %></small></h1>
      <% if @poll.options.size > 1 %>
        <ul>
        <% @poll.options.each do |poll| %>
          <li><%= poll.text %></li>
        <% end %>
        </ul>
      <% end %>
  </div>
</div>

<%= link_to @poll.short_id, "Share me!", class: "shareable-link" %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
