<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1><%= @poll.title %> <small><%= if @poll.published then "published" else "" end %></small></h1>
    <ul id="options">
    <% @poll.options.each do |option| %>
      <li class="poll-option"><%= option.text %></li>
    <% end %>
    </ul>
  </div>
</div>

<%= link_to "Share me!", share_path(@poll.short_id), class: "shareable-link" %><br>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
